<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="WallpaperMode" value="true"/>
    <add key="Fullscreen" value="false" />
    <add key="WindowWidth" value="800" />
    <add key="WindowHeight" value="600" />
    <add key="PixelSize" value="4" />
    <add key="Density" value="20" />
    <add key="TickTime" value="80" />
    <add key="Survivors" value="34" />
    <add key="Reproductors" value="3" />
  </appSettings>
</configuration>
